{% extends "base_glossary.html" %}
{% load static %}

{% block content %}

<div id="wrap">
    <ul class="mini-nav">
        {% for feature in metric.feature.all %}
        <li>
            <a href="{{ feature.get_absolute_url }}">{{ feature }}</a>
        </li>
        {% endfor %}
    </ul>
    <h1>{{ feature.name }}</h1>
    <p>
        {{ feature.definition|safe }}
    </p>
    <div class="inside">
        <h3>Ask Yourself</h3>
        <p>{{ feature.transform|safe }}</p>
    </div>
    
</div>
{% endblock content %}
