{% extends "base_glossary.html" %}
{% load static %}


{% block title %}- {{ metric.name }}{% endblock title %}

{% block content %}
<div id="wrap">
    <div class="container">
        <h1>{{ metric.name }}</h1>
       <p>{{ metric.definition|safe }}</p>
    </div>
    

</div>
</div>

{% comment %} <div id="wrap">
    <div class="container">
    <h1>{{ metric.name }}</h1>
    <p>{{ metric.definition|safe }}</p>
    </div>
    {% for feature in metric.feature.all %}
    <div class="container">
        <h2>{{ feature.name }}</h2>
        <p>{{ feature.definition|safe }}</p>
        <div class="inside">
            <h3>Ask Yourself</h3>
            <p>{{ feature.transform|safe }}</p>
        </div>
        <div class="inside">
            <h3>Examples</h3>
            {% for example in feature.conversation.all %}
            <div class="example-container">
                <h4>Example {{ forloop.counter }}</h4>
                {% for turn in example.turn.all %}
                <p>
                    {{ turn.speaker_type|safe|capfirst }}
                </p>
                <p>
                    {{ turn.body|safe }}
                </p>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div> {% endcomment %}

{% endblock content %}



