{% extends "base_glossary.html" %}
{% load static %}


{% block title %}- {{ metric.name }}{% endblock title %}

{% block content %}

<div id="wrap">
    <div class="container">
    <h1>{{ metric.name }}</h1>
    <p>{{ metric.definition|safe }}</p>
    </div>
    {% for feature in metric.feature.all %}
    <div class="container">
        <h2>{{ feature.name }}</h2>
        <p>{{ feature.definition|safe }}</p>
        <div id="inside">
            <h3>Ask Yourself</h3>
            <p>{{ feature.transform|safe }}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}



