<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    {% block stylesheet %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    {% endblock %}
    {% block title %}
      <title>Glossary</title>
    {% endblock %}
  </head>
  <body>
    {% block topbar %}
        <!-- default navbar-->
        <nav aria-labelledby="primary-navigation">
            <ul id="primary-navigation">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="{{ intro.get_absolute_url }}">Reference</a>
                </li>
                {% if user.is_superuser %}
                <li>
                    <a href="{% url 'admin:index' %}">Admin</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    {% endblock topbar %}
    {% block sidebar %}
    <!-- secondary navbar-->
    {% endblock sidebar %}
    
    {% block content %}
    <!-- default content text (typically empty) -->
    {% endblock content %}
  </body>
</html>

