<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    {% block stylesheet %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    {% endblock %}
    <title>Glossary
      {% block title %}{% endblock %}
    </title>
  </head>
  <body>
    {% block topbar %}
        <!-- default navbar-->
        <nav aria-labelledby="primary-navigation">
            <ul id="primary-navigation">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="{{ intro.get_absolute_url }}">Reference</a>
                </li>
                {% if user.is_superuser %}
                <li>
                    <a href="{% url 'admin:index' %}">Admin</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    {% endblock topbar %}
    {% block sidebar %}
    <nav aria-labelledby="secondary-navigation">
      <ul id="secondary-navigation">
          <li>
              <a href="{{ intro.get_absolute_url }}">Intro</a>
          </li>
          {% for name in metrics %}
          <li>
              <a href="{{ name.get_absolute_url }}">{{ name }}</a>
          </li>
          {% endfor %}
      </ul>
  </nav>
    {% endblock sidebar %}
    
    {% block content %}
    <!-- default content text (typically empty) -->
    {% endblock content %}
  </body>
</html>

