{% extends "base_accounts.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
{% if form.errors %}
<p>
	{{ form.errors }}
</p>
{% endif %}
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
	<h2>Log in</h2>
	
	<div class="field">
		
		<p class="name">
			{{ form.username.label_tag }}
		</p>
		<p class="input">
			{{ form.username }}
		</p>
        <p class="name">
			{{ form.password.label_tag }}
		</p>
		<p class="input">
			{{ form.password }}
		</p>
	</div>


    <button type="submit">Login</button>
    <input type="hidden" name="next" value="{{ next }}">
  </form>
{% endblock %}