{% extends "base_accounts.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
{% if form.errors %}
<p>
	{{ form.errors }}
</p>
{% endif %}
<form method="post">
    {% csrf_token %}
	<h2>Register</h2>
	{% for field in form %}
	<div class="field">
		{% if field.name == "password2" %}
		<span id="confirm-pwd">
			Enter password confirmation
		</span>
		{% endif %}
		<span class="name">
			{{ field.name|capfirst|cut:"1"|cut:"2" }}
		</span>
		<span class="input">
			{{ field }}
		</span>
	</div>

{% endfor %}
    <button type="submit">Register</button>
  </form>
{% endblock %}