* {
    box-sizing: border-box;
    text-decoration: none;
}
/* body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
} */
body{ 
    margin:0; 
    height: 100vh;
    font-family:'tahoma';
}
ul {
    list-style-type: none;
}

#wrap {
    margin: 10%;
    padding: 5%;
    
}

#primary-navigation, #secondary-navigation {
    width: 100%;
    height: 5vh;
    top: 0;
    padding: 0.5rem;
    
}

#primary-navigation {
    
    top: 0;
    background-color: rgb(193, 190, 190);
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    
}
.nav-search {
    float: right;
    padding: 5px 10px;
}
input {
    border: none;
    width: 30vh;
    height: 3.75vh;
    border-radius: 10px;
    padding-left: 10px;
}
  #secondary-navigation {
    margin-top: 5vh;
    width: 100%;
    background-color: #48C9B0;
    text-align: center;
    padding: 0px 15px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

 }
 li.nav-link {
    display: inline-block;
    height: 50px;
    padding: 15px 5px;
}
.nav-link a {
    color: rgb(228, 25, 25);
    padding: 1rem;
    
}

.nav-link a:hover {
    color: aqua;
}
.dropdown-list {
    display: none;
    position: absolute;
    top: 40px;
    background-color: #48C9B0;
    padding: 0;
    text-align: left;

}
li.dropdown-link {
    font-size: small;
    border-bottom: 1px solid white;
    padding: 0.5rem 0;
    
}

li:hover .dropdown-list {
    display: block;
}

.nav-link > a::after {
    content : ' »'; 
}
.nav-link > a:only-child:after { content: ''; }

#active > a { 
    padding: 0;
    padding-bottom: 0.5rem;
    border-bottom: 3px rgb(15, 255, 243) solid;
    
} 

